html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
    background: rgb(6, 0, 13);
    color: white;
}
nav{
    width: 100%;
    padding: 1rem 5%;
    background: rgb(12, 1, 24);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color:aqua;
    letter-spacing: 1px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.05rem;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links li a:hover{
    color: aqua;
    text-shadow: 0 0 10px aqua;
}
.btns{
    display: flex;
    margin-right: 100px;
}
.btn{
    gap:10px;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    background: turquoise;
    color: rgb(9, 1, 35);
    box-shadow: 0 0 15px turquoise;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn a{
    text-decoration: none;
    color: rgb(9, 68, 126);
}
.btn:hover{
    background: rgb(13, 175, 229);
    box-shadow: 0 0 25px turquoise;
}
.stack{
    perspective: 1200px;
    view-timeline-name: --cards; 
    view-timeline-axis: block;
}
.card{
    position: sticky;
    top:calc(var(--i) * 40px);
    width: min(690px,80%);
    height: 680px;
    padding: 1px;
    margin: 0 auto;
    border-radius: 30px;
    corner-shape:squircle;
    overflow: hidden;
    transform-style: preserve-3d;
    animation: stack 1s linear both;
    animation-timeline: --cards;
    animation-range: entry 0% exit 50%;
}

@keyframes stack{
    0%{
        transform: translateY(0) translateZ(0)
        rotateX(0) scale(1);
    }
    35%{
        transform: translateY(100px)
    translateZ(-200px) rotateX(8deg) scale(0.92);
    }
    70%{
        transform: translateY(20) translateZ(-120) rotateX(2) scale(0.95);
    }
    100%{
        transform: translateY(0) translateZ(0) rotateX(0) scale(1);
    }
}
#card1{
    --i:1;
}
#card2{
    --i:2;
}
#card3{
    --i:3;
}
#card4{
    --i:4;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.word{
    position:relative;
    justify-self: center;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%) rotate(45);
    font-size: 5rem;
        font-weight: 700;
        color:rgb(5, 240, 240);
        letter-spacing: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 20px rgb(15, 135, 135);
}
.info{
    position: absolute;
    inset: auto 0 0 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(to bottom,transparent,rgba(0,0,0,0.9));
    backdrop-filter: blur(10px);
}
.info h2{
    font-size: 2rem;
}
.p{
    opacity: 0.75;
}
.about{
    background: rgb(12, 1, 24);
}
    